$header-color: #7F7F7F;
$white: #FAFAFA;

$line-not-loader: rgba(128, 128, 128, 0.19);
$on-loader-text: #a5a5a5;
$gradient-loader: linear-gradient(90deg, rgba(63, 94, 251, 0.8323704481792717) 0%, rgba(252, 70, 107, 0.9051995798319328) 100%);
